name: CI syntax check & testing (pytest and coverage)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Poetry
        run: |
          pip install poetry
          poetry --version

      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-ansi

      - name: Syntax check
        run: |
          # Checking the correctness of pyproject
          poetry check

      - name: Run tests with coverage
        run: |
          poetry run pytest \
            --cov=artefact \
            --cov-report=term-missing
